Flask==3.0.0
flask-socketio==5.3.6
flask-cors==5.0.0
python-dotenv==1.0.0
requests==2.32.3
bcrypt==4.1.2
google-auth==2.38.0
google-api-python-client==2.165.0
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.0
yagmail==0.15.293
eventlet==0.35.0
gevent==23.9.1
gevent-websocket==0.10.1
gunicorn==21.2.0
pymongo==4.6.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
